.body {
    font-family: Arial, sans-serif;
    background-color: #d8dde4;
    text-align: center;
    margin-top: 50px;
}

.h1 {
    color: #460707;
}
.title {
    color: #000000;
    font-family: Arial, sans-serif;
}

.label {
     color: rgb(95, 129, 222);
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #2980b9;
}
